html{
	
}
body{
	font-family: Arial, Helvetica, sans-serif;
}

header{
	font:sans-serif;
	color: green;

}
input{
	margin: 70px;
}
footer{
	margin: 40px;
}

#navbar{
	padding: 20px;
	margin-top: 10px;
	height: 300px;

}

#navarea{
	list-style: none;
	padding-left: 120px;

}
.page-scroll a{
	text-decoration: none;
}
#navarea li{
	color: #3A5FCD;
	float: right;
	margin-left: 50px;
	background-color: #AB82FF;
	padding: 5px;
	border: 1px solid silver;
	border-radius: 10px;
	margin-top: 10px;
}
#navarea li:hover{
	background-color: grey;
}

p{
	float: left;
	margin-top: 70px;
	margin-right: 70px;
}